/**
 * woocommerce-layout.scss
 * Applies layout to the default WooCommerce frontend design
 */

/**
 * Imports
 */
@import 'woomixins';
@import 'woovariables';

/**
 * Styling begins - edited
 */
.woocommerce, .woocommerce-page {

	// .woocommerce-message,
	// .woocommerce-error,
	// .woocommerce-info {
	// 	.button {
	// 		float: right;
	// 	}
	// }

	/**
	 * General layout styles
	 */
	// .col2-set {
	// 	@include clearfix();
	// 	width: 100%;
	// 
	// 	.col-1 {
	// 		float: left;
	// 		width: 48%;
	// 	}
	// 	.col-2 {
	// 		float: right;
	// 		width: 48%;
	// 	}
	// }

	img {
		height: auto;
		max-width: 100%;
	}

	/**
	 * Product page - edited
	 */
	div.product,
	#content div.product {
		div.images {
			float: left;
			width: 95%;
		}

		div.thumbnails {
			@include clearfix();

			a {
				float: left;
				width: 30.75%;
				margin-right: 3.8%;
				margin-bottom: 1em;
			}

			a.last {
				margin-right: 0;
			}

			a.first {
				clear: both;
			}

			&.columns-1 {
				a {
					width: 100%;
					margin-right: 0;
					float: none;
				}
			}

			&.columns-2 {
				a {
					width: 48%;
				}
			}

			&.columns-4 {
				a {
					width: 22.05%;
				}
			}

			&.columns-5 {
				a {
					width: 16.9%;
				}
			}
		}

	}

	/**
	 * Product loops - deleted
	 */

	/**
	 * Cart page - deleted
	 */

	/**
	 * Cart sidebar - deleted
	 */

	/**
	 * Forms - deleted
	 */

	/**
	 * oEmbeds  - deleted
	 */

}

// .woocommerce-account {
// 	.woocommerce-MyAccount-navigation {
// 		float: left;
// 		width: 30%;
// 	}
// 
// 	.woocommerce-MyAccount-content {
// 		float: right;
// 		width: 68%;
// 	}
// }

/**
 * Twenty Eleven specific styles
 */

/**
 * Twenty Fourteen specific styles
 */

/**
 * Twenty Fifteen specific styles
 */

/**
 * Twenty Sixteen specific styles
 */

/**
 * RTL styles.
 */
