{% extends "base.twig" %}

{% block pageheader %}
  {% include 'header-page.twig' %}
{% endblock %}

{% block content_inner %}
  <article id="page-{{post.id|e('html_attr')}}" class="uk-article uk-section uk-section-small uk-container {{post.class|e('html_attr')}}" data-template="basket.twig">
    
    <div class="article-content">
      {{post.content}}
    </div>
  
  </article>
{% endblock %}

{% block spec_scripts %}
  <script type='text/javascript' src='{{theme.link|e('esc_url')}}/assets/js/woo/cart.js'></script>
{% endblock %}