{% extends 'base.twig' %}

{% block pageheader %}
  {% include 'header-archive.twig' %}
{% endblock %}

{% block content_inner %}
      
  <div class="uk-section uk-section-small uk-container uk-container-small" data-template="index.twig">
      
    <div class="archive-posts posts uk-grid-small" uk-grid>
      {% for post in posts %}
        {% include 'tease.twig' %}
      {% endfor %}
    </div>
    
    {% include 'pagination.twig' %}
    
    {% if posts is empty %}
      <p class="uk-text-emphasis">No posts found.</p>
    {% endif %}

  </div>

{% endblock  %}