<div id="ToolbarNav" class="uk-section uk-section-small" data-template="shop-toolbar.twig">
  <div id="ShopArchiveTitle" class="uk-text-left">
    <h1 class="woocommerce-products-header__title page-title uk-margin-remove-bottom font-2">{{ title }}</h1>
  </div>
</div>