<div id="FiltersMenu" uk-offcanvas="overlay: true; flip: true">
  <div class="uk-offcanvas-bar filter-offcanvas">
    <button class="uk-offcanvas-close" type="button" uk-close></button>
    
    <aside>
      
      <div id="cat_selector">
        <div class="form-check form-check-inline">
          <input class="form-check-input cat-input uk-radio" type="radio" name="cat_slug" id="cat-480" value="fruit">
          <label class="form-check-label uk-form-label" for="cat-480">Fruit</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input cat-input uk-radio" type="radio" name="cat_id" id="cat-481" value="groceries">
          <label class="form-check-label uk-form-label" for="series-481">Groceries</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input cat-input uk-radio" type="radio" name="cat_id" id="cat-482" value="juices">
          <label class="form-check-label uk-form-label" for="series-482">Juices</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input cat-input uk-radio" type="radio" name="cat_id" id="cat-483" value="fruit-and-vegetables">
          <label class="form-check-label uk-form-label" for="series-483">Vegetables</label>
        </div>
      </div>
      
    </aside>
  </div>
</div>