#ProductFilters .filters-reset-link {
  text-decoration: underline!important;
}
#ProductFilters .uk-nav-default a {
  font-size: 0.8rem;
}
#ProductFilters .uk-radio {
  margin-right: 3px;
}
#ProductFilters .uk-nav.uk-height-medium.uk-overflow-auto::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}
#ProductFilters .uk-nav.uk-height-medium.uk-overflow-auto::-webkit-scrollbar {
  width: 10px;
}
#ProductFilters .uk-nav.uk-height-medium.uk-overflow-auto::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #20845e;
}
#ProductFilters .uk-accordion-title {
  font-size: 1rem;
}
#ProductFilters .uk-accordion>:nth-child(n+2) {
  margin-top: 30px;
}
#ShopToolbar .uk-badge {
  box-sizing: border-box;
  min-width: 22px;
  height: 22px;
  padding: 0 10px;
  border-radius: 50px;
  vertical-align: middle;
  background: #299169;
  color: #fff;
  font-size: .875rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.filter-badge {
  margin-left: 5px;
}

.tease-list-content {
  height: 100%;
}
