.swiper-container {
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
}
:root {
  --swiper-theme-color: #20865f;
}
#slideshow_related img {
  height: 190px;
  width: 100%;
  object-fit: cover;
  max-width: 100%;
}