<div id="MiniCartModal" class="header-modal-sidebar-cart"  data-template="header-modals.twig" uk-modal>
  <div class="uk-modal-dialog">
    <div class="uk-modal-body padding-20 height-content" uk-overflow-auto>
      <div class="widget_shopping_cart_content">
        {% do action('custom_mini_cart') %}
      </div>
    </div>
  </div>
</div>