<div id="HeaderTop" class="top-bar darker-bg-primary uk-text-center uk-light">
    <div class="uk-container">
        For more info on deliveries, <a href="/delivery">click here</a>. For refunds & returns, <a href="/refunds-returns-policy">click here</a>.
    </div>
</div>