<header id="SiteHeader" class="site-header" data-template="header.twig">
    
  <div id="HeaderTop" class="top-bar header-top uk-text-center uk-light theme-bg-darker">
    <div class="uk-container">

      {% if header_top %}
        {{header_top}}
      {% else %}
        Header Top Widget Area
      {% endif %}
      
    </div>
  </div>
  
  {% include 'header-main.twig' %}
  
  {% include 'header-bottom.twig' %}
  
  {% include 'header-mobile.twig' %}
  
  <div id="MiniCartModal" class="minicart-modal" uk-modal>
    <div class="uk-modal-dialog">
      <div class="uk-modal-body height-content" uk-overflow-auto>
        <div class="widget_shopping_cart_content">
          {% do action('custom_mini_cart') %}
        </div>
      </div>
    </div>
  </div>
    
</header>