<div class="uk-container">
  <nav id="BreadsNav" class="uk-navbar-container uk-navbar-transparent theme-border-bottom" uk-navbar>
    <div class="uk-navbar-left">
      <div class="uk-navbar-item min-height-40 pull-left-15">
        {{ function('yoast_breadcrumb', '<div id="breadcrumbs">','</div>') }}
      </div>
    </div>
  </nav>
</div>