<!--FOOTER-->
<footer class="uk-section uk-section-small uk-section-muted uk-position-relative uk-light">
    <div class="uk-container uk-position-relative">
        <div uk-grid>
            <div class="uk-width-1-6@m">
                <h4>Quick Links</h4>
                <ul class="uk-nav uk-nav-default uk-nav-parent-icon" uk-nav>
                  	<li><a href="/about">About us</a></li>
                  	<li><a href="/delivery">Deliveries</a></li>
                    <li><a href="/terms-conditions">Terms & Conditions</a></li>
                    <li><a href="/refunds-returns-policy">Refunds & Returns</a></li>
                  	<li><a href="/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/contact">Contact us</a></li>
                </ul>
            </div>
            <div class="uk-width-1-2@m">
                <h4>What our Customers think...</h4>
                <p>"Excellent Organic producer and shop, Highly recommend."</p>
                <p>"Love this food, its beautiful and it’s medicine. William is a genius on health and very obliging."</p>
            </div>
            <div class="uk-width-1-3@m">
                <h4>Our goal</h4>
                <p><img class="about-logo-image" src="https://organicforhealth.ie/wp-content/themes/organicwp-theme/assets/images/organicforhealth-logo.png" style="width:95px;" alt="">Our goal is to have happy healthy customers and to give them the best quality and value, you can get.</p>
                <p><a href="/about">Our Message to our valued customers <i class="fas fa-angle-right fa-xs"></i></a></p>
            </div>
        </div>
        <div class="uk-margin-large-top">
            <div class="" uk-grid>
                <div id="FooterBottomLeft" class="uk-width-1-2@s uk-text-small uk-text-center uk-text-left@s">
                    <p>© Copyright 2020 - <a href="/" class="uk-text-bold">Organic for Health</a></p>
                </div>
                <div id="FooterBottomRight" class="uk-width-1-2@s uk-text-small uk-text-center uk-text-right@s">
                    <p>Developed by to <a href="https://github.com/robmccormack89" target="_blank" class="uk-text-bold">Rob McCormack</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/FOOTER-->
