<div class="uk-container">
    <div class="uk-margin-top uk-text-center" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <h3>Shop Notice</h3>
        <p>All customers with new orders, please be aware that due to the high demand on fresh food, we will <strong>NOT</strong> be able to send fruit and vegetables by courier; it will ONLY be available on our <strong>Local Deliveries</strong>. For more information on delivery options & couriers, see our <a href="/delivery" target="_blank">Deliveries page</a>.</p>
    </div>
</div>