{% extends 'base.twig' %}
{% block content %}

<div data-template="delivery.twig">
  
  {% include 'breads.twig' %}
  
  {% include 'site-notice.twig' %}
    
  <div class="uk-section uk-section-small">
    
    <div class="uk-container uk-container-small">
      
      <article id="page-{{post.ID}}" class=" uk-article {{post.class}}">
        
        <h1 class="uk-article-title page-title uk-margin-medium-bottom uk-heading-line"><span>{{post.title}}</span></h1>

        <div class="the-content uk-margin-bottom">
          
          <div class="the-content uk-margin-bottom">
            
            <ul class="uk-subnav uk-subnav-divider" uk-margin>
                <li><a href="#types-goods" uk-scroll="offset:100">Types of Goods</a></li>
                <li><a href="#delivery-options" uk-scroll="offset:100">Delivery Options</a></li>
                <li><a href="#local-deliveries" uk-scroll="offset:100">Local Deliveries</a></li>
                <li><a href="#delivery-routes" uk-scroll="offset:100">Delivery Routes & Pickup Info</a></li>
            </ul>
            
            <h3 id="types-goods">Types of Goods</h3>
            
            <p>At <a href="/">organicforhealth.ie</a>, the items we sell on this website can be classed into two types:
              <ul class="uk-list uk-list-bullet">
                <li><strong>Perishable Goods</strong> (fresh produce, unpacked goods)</li>
                <li><strong>Non-Perishable Goods</strong> (packaged goods like wines, confectionaries etc)</li>
              </ul>
            </p>
            
            <p>Whether a good is classified as Perishable or Non-Perishable can be seen on the Product page itself.</p>
            
            <h3 id="delivery-options">Delivery Options available on Checkout</h3>
            
            <p>On orders from <a href="/">organicforhealth.ie</a>, we offer 3 Delivery/Shipping options to customers on checkout:
              <ul class="uk-list uk-list-bullet">
                <li><strong>Local Delivery</strong> (Westmeath & Meath)</li>
                <li><strong>National Delivery</strong> (All of Republic of Ireland)</li>
                <li><strong>Free in-store pickup</strong> (Drop in to our store and pick up your order/s for free!)</li>
              </ul>
            </p>
            
            <p>At this moment, we can only offer <strong>Perishable goods</strong> with the <strong>Local Delivery</strong> & <strong>Free in-store Pickup</strong> options. This means that if you have any <strong>Perishable goods</strong> in your basket(order) & you are outside the Local area <strong>(Westmeath & Meath)</strong>, you will only be able to avail of the <strong>Free in-store Pickup</strong> option. Only Local Area customers will be able to order <strong>Perishable goods</strong> and have them delivered. This also applies to our subscription boxes as they are mainly made up of <strong>Perishable goods</strong>.</p> 
            
            <p>Orders of <strong>Non-Perishable goods</strong> can still be delivered Nationwide with our <strong>National Delivery</strong> option using our courier service, with more details on that <a href="#delivery-routes" uk-scroll>below</a>.</p> 
            
            <p>Customers outside the Local Area can still order <strong>Perishable goods</strong> as long as they don't mind using the Free in-store pickup option, more information on which can be found <a href="#delivery-routes" uk-scroll>below</a>.</p>
            
            <p>We apologize for any inconvenience and are working to extend our delivery of all goods Nationwide in the near future.</p>
            
            <h3 id="local-deliveries">Local Deliveries</h3>
            
            <p>Local delivery available in the following areas: Mullingar, Delvin, Multyfarnham, Coole, Castlepollard, Kinnegad, Virginia, Kells, Navan, Trim, and Athboy.</p>
            
            <p>You can also collect an order from the shop in Mullingar on Fridays or at Sheridans Cheesemongers Carnaross on Saturdays.</p>
            
            <p>All Local delivery orders to be in by Thursday morning 8am for delivery of that week on Thursday, Friday or Saturday. The min order is 30 euro. Orders for delivery by courier will be shipped on Wednesday, Thursday & Friday; it may take longer than usual for deliveries to arrive.</p>
            
            <h3 id="delivery-routes">Delivery Routes & Pickup Information</h3>
            
            <ul id="delivery-routes" class="uk-list uk-list-divider uk-padding-small uk-background-muted">
                <li>
                  <h4>Thursday Delivery Route</h4>
                  <p>Orders for <strong>Thursday</strong> delivery must be in strictly by <strong>7:00am Monday</strong>.</p>
                </li>
                <li>
                  <h4>Local Pickup</h4>
                  <p>Local pickup is available<strong> Thursday</strong> from the market at<strong> Fairgreen Shopping Center</strong>, <strong>Mullingar</strong>,<strong> Co. Westmeath</strong>. Local pickup runs from <strong>10am</strong> to <strong>3pm</strong>.</p>
                </li>
                <li>
                  <h4>Saturday</h4>
                  <p>Pickup from <strong>Sheridans Cheesemongers</strong>.</p>
                </li>
                <li>
                  <h4>Courier Shipping</h4>
                  <p>All other routes are <strong>services by courier</strong>. Orders on other routes must be in by <strong>7am Monday</strong> morning to gaurantee delivery on the <strong>Thursday</strong> of the same week.</p>
                </li>
                <li>
                  <h4>Nationwide Delivery</h4>
                  <p> All orders will be shipped out by <strong>Fastway Couriers</strong> on <strong>Wednesday</strong> and delivered on <strong>Thursday</strong>. Orders must be in by <strong>9am Monday</strong> morning to guarantee all of your order is in stock. Orders <strong>after 9am Monday</strong> are welcome up <strong>until 10am Wednesday</strong> but we cannot guarantee everything will be in stock, <strong>you will be refunded for out of stock items</strong>.</p>
                </li>
            </ul>
            
          </div>

        </div>
      
      </article>
      
    </div>

  </div>
</div>

{% endblock  %}