{% extends 'base.twig' %}
{% block content %}

<div data-template="delivery.twig">
  
  {% include 'breads.twig' %}
  
  {% include 'site-notice.twig' %}
    
  <div class="uk-section uk-section-small">
    
    <div class="uk-container uk-container-small">
      
      <article id="page-{{post.ID}}" class=" uk-article {{post.class}}">
        
        <h1 class="uk-article-title page-title uk-margin-medium-bottom uk-heading-line"><span>{{post.title}}</span></h1>

        <div class="the-content uk-margin-bottom">
                      
          <p>This privacy statement will explain how Organic for Health comply with European Union data protection requirements. This applies to the entire website. Any changes to these policies or how we use your data will be posted on this website.</p>
          
          <p>You can be assured that data will only be used in accordance with this privacy statement.</p>

          <h2>Who we are</h2>

          <p>Name of Company: Organic for Health</p>

          <p>Our website address is: <a href="https://organicforhealth.ie/">https://organicforhealth.ie</a></p>

          <p>Physical Business Address: Mullingar, Co.Westmeath, Ireland</p>

          <h2>What data we collect &amp; how we use it</h2>

          <p>While you visit our site, we’ll track:</p>

          <ul>
            <li>Products you’ve viewed: we’ll use this to, for example, show you Products you’ve recently viewed </li><li> Location, IP address, and browser type: we’ll use this for purposes like estimating taxes and billing</li>
            <li>Billing & Shipping address: we’ll ask you to enter this so we can, for instance, send you your product/s when you've purchased with us.</li>
          </ul>

          <p>When puchase an item on our store, we’ll ask you to provide information including your name, billing address, email address, phone number, credit card/payment details &amp; account information like username and password. </p>

          <p>We’ll use this information for purposes, such as, to:</p>

          <ul>
            <li>Send you information about your account and product purchased </li>
            <li>Respond to your requests, including refunds and complaints </li>
            <li>Process payments and prevent fraud</li>
            <li>Set up your account for our site </li>
            <li>Comply with any legal obligations we have, such as calculating taxes</li>
            <li>Improve our store offerings</li>
            <li>Send you marketing messages, if you choose to receive them</li>
          </ul>

          <p>When you create an account, we will store your name, address, email, and phone number, which will be used to populate the checkout for future entries.</p>

          <p>We do not store your card information on our website at any stage.</p>

          <h2>Contact Forms</h2>

          <p>If you use a contact form on our website, none of the information you provide will be stored by this website or passed to third parties, as the Contact Forms on this website use SMTP to encrypt your message and forward it on to us at info@organicforhealth.ie.</p>

          <h2>How we store your data</h2>

          <p>Organic for Health securely stores your data at an EU data center located in Frankfurt, Germany run by AWS. All traffic between this website and your browser is encrypted and delivered over HTTPS.</p>

          <p>We generally store information about you for as long as we need the information for the purposes for which we collect and use it, and we are not legally required to continue to keep it. For example, we will generally store analytics records for a year, and customer purchase records &amp; order information for ten years, for tax and accounting purposes. This includes your name, email address, and billing address.</p>

          <h2>Who on our team has access to your data</h2>

          <p>Members of our team have access to the information you provide us. Our Administrators and Shop Managers can access:</p>

          <ul>
            <li>Product information like, what was purchased, when it was purchased and, how many items were purchased,</li>
            <li>Customer information like your name, location, email address, and billing information.</li>
          </ul>

          <p>Our team members have access to this information to help fulfill orders, process refunds, and support you.</p>

          <h2>What are Cookies?</h2>

          <p>Cookies are small text files that are used to store small pieces of information. The cookies are stored on your device when the website is loaded on your browser. These cookies help us make the website function properly, make the website more secure, provide better user experience, and understand how the website performs and to analyze what works and where it needs improvement. </p>

          <h2>Types of cookies this site uses &amp; why they are used.</h2>

          <ul><li> <strong style="font-size: inherit;">Essential:</strong><span style="font-size: inherit;"> Some cookies are essential for you to be able to experience the full functionality of our site. They allow us to maintain user sessions and prevent any security threats. They do not collect or store any personal information. For example, these cookies allow you to log-in to your account and add products to your basket and checkout securely. </span></li><li><span style="font-size: inherit;"> <strong>Statistics:</strong> These cookies store information like the number of visitors to the website, the number of unique visitors, which pages of the website have been visited, the source of the visit, etc. These data help us understand and analyze how well the website performs and where it needs improvement.</span> </li><li> <strong style="font-size: inherit;">Marketing:</strong><span style="font-size: inherit;"> Our website displays advertisements. These cookies are used to personalize the advertisements that we show to you so that they are meaningful to you. These cookies also help us keep track of the efficiency of these ad campaigns. The information stored in these cookies may also be used by the third-party ad providers to show you ads on other websites on the browser as well.</span> </li><li> <strong style="font-size: inherit;">Functional:</strong><span style="font-size: inherit;"> These are the cookies that help certain non-essential functionalities on our website. These functionalities include embedding content like videos or sharing content on the website on social media platforms.</span> </li><li> <strong style="font-size: inherit;">Preferences:</strong><span style="font-size: inherit;"> These cookies help us store your settings and browsing preferences like language preferences so that you have a better and efficient experience on future visits to the website.</span> </li><li> <strong style="font-size: inherit;">Third-Party / Embedded Content:</strong><span style="font-size: inherit;"> We make use of different third-party applications and services to enhance the experience of website visitors. These include social media platforms such as Facebook, or embedded content from YouTube and Facebook. As a result, cookies may be set by these third parties and used by them to track your online activity. We have no direct control over the information that is collected by these cookies.</span> </li><li> <strong style="font-size: inherit;">Articles on this site</strong><span style="font-size: inherit;"> may include embedded content (such as YouTube and Facebook videos). Embedded content from other websites behaves in the exact same way as if the visitor has visited the other website.</span> </li></ul>

          <h2>Changes to our privacy policy</h2>

          <p>Organic for Health keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 15th May 2020.</p>

          <h2>Who we share your data with</h2>

          <p>If you consent, we may share your data with third-party providers in order to help deliver our service.</p>

          <p>This may include sharing your data with the following:</p>

          <ul>
            <li>Our employees &amp; related corporate bodies</li>
            <li>Third parties that provide goods and services to us (including website and data hosting providers, and other suppliers) </li>
            <li>Payment system operators: Stripe </li>
            <li>Any other third-parties like our accountants, insurers, lawyers, auditors, and other professional advisers and agents </li>
          </ul>

          <h2>Payment Processing</h2>

          <p>Information on specific Payment Merchant data handling to come…</p>

          <h2>How long we retain your data</h2>

          <p>We generally store information about you for as long as we need the information for the purposes for which we collect and use it, and we are not legally required to continue to keep it. For example, we will generally store analytics records for a year, and customer purchase records &amp; order information for ten years, for tax and accounting purposes. This includes your name, email address, and billing and shipping addresses.</p>

          <h2>What rights you have over your data</h2>

          <p>Organic for Health would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>

          <ul>
            <li><strong style="font-size: inherit;">The right to access:</strong><span style="font-size: inherit;"> You have the right to request Organic for Health for copies of your personal data. We may charge you a small fee for this service.</span></li>
            <li><strong style="font-size: inherit;">The right to rectification:</strong><span style="font-size: inherit;"> You have the right to request that Organic for Health correct any information you believe is inaccurate. You also have the right to request Organic for Health to complete the information you believe is incomplete.</span></li>
            <li><strong style="font-size: inherit;">The right to erasure:</strong><span style="font-size: inherit;"> You have the right to request that Organic for Health erase your personal data, under certain conditions.</span></li>
            <li><strong style="font-size: inherit;">The right to restrict processing:</strong><span style="font-size: inherit;"> You have the right to request that Organic for Health restrict the processing of your personal data, under certain conditions.</span></li>
            <li><strong style="font-size: inherit;">The right to object to processing:</strong><span style="font-size: inherit;"> You have the right to object to Organic for Health’ processing of your personal data, under certain conditions.</span></li>
            <li><strong style="font-size: inherit;">The right to data portability:</strong><span style="font-size: inherit;"> You have the right to request that Organic for Health transfer the data that we have collected to another organization, or directly to you, under certain conditions.</span> </li></ul>

          <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our </p>

          <p>Email address: info@organicforhealth.ie</p>

          <h2>Where we send your data</h2>

          <p>This website is hosted by AWS within an EU data center located in Holland and is run by Organic for Health &amp; complies with the EU-US Privacy Shield Framework.</p>

          <h2>How we protect your data</h2>

          <p>All traffic between this website and your browser is encrypted and delivered over HTTPS.</p>

          <p>Please keep in mind that regardless of how many measures that are taken the transmission of information over the Internet is not completely secure or error-free in every case. In particular, emails or other communications to, or from us and information submitted to, or accessed via this Website may not be 100% secure and you should use discretion in deciding what information you send to us via these means. Emails or other communications to or from us may undergo email filtering and virus scanning, including by third-party contractors. We do not warrant that such filters and scans will be effective in removing viruses or other potentially harmful code. We are happy to discuss any concerns you may have regarding your personal information. We will help in any way we can so you feel comfortable using our services.</p>

          <h2>What data breach procedures do we have in place</h2>

          <p>Whilst we do not store the credit card information of any user, we will report any breach of data from this website’s database or any of our third-party processors to all relevant authorities within 72 hours of the breach occurring.</p>

          <h2>What third-party parties we receive data from</h2>

          <h3>Google Analytics</h3>

          <p>This website uses Google Analytics, a web analysis service that is provided by Google Inc. Google Analytics uses text files called “cookies”, that are stored in your computer, and that enables you to analyze how you use the website.</p>

          <p>The information about your use of this website generated by the cookie (including your IP address) is transferred to a Google server in the United States and is saved there. Google will use this information in order to analyze your use of the website, compile reports on website activity for the website operators, and provide further services related to website usage and internet usage. Google will also, where applicable, transfer this information to third parties where this is a legal requirement, or insofar as third parties process this data on Google’s behalf.</p>

          <p>Google will not link your IP address to other data saved by Google under any circumstances. You can prevent the installation of cookies by appropriately setting your browser software; however, it is worth being aware that this may result in not being able to use all functions of this website to the full extent.</p>

          <p>By using this website you accept that your data collected by Google can be used as described above and for the aforementioned purpose.</p>

          <p>Google is EU-US Privacy Shield compliant</p>

          <h3>Facebook Pixel</h3>

          <p>We use the “pixels” from Facebook on our website. This allows user behavior to be tracked after they have been redirected to the provider’s website by clicking on a Facebook ad. This enables us to measure the effectiveness of Facebook ads for statistical and market research purposes.</p>

          <p>The data collected in this way is anonymous to us, i.e. we do not see the personal data of individual users. However, this data is stored and processed by Facebook, which is why we are informing you, based on our knowledge of the situation.</p>

          <p>Facebook may link this information to your Facebook account and also use it for its own promotional purposes, in accordance with Facebook’s Data Usage Policy <a href="https://www.facebook.com/about/privacy/">https://www.facebook.com/about/privacy/</a>.</p>

          <p>You can allow Facebook and its partners to place ads on and off Facebook. A cookie may also be stored on your computer for these purposes. The legal basis for the use of this service is Art. 6 paragraph 1 sentence 1 letter f GDPR.</p>

          <p>You can object to the collection of your data by Facebook pixel, or to the use of your data for the purpose of displaying Facebook ads by contacting the following address: <a href="https://www.facebook.com/settings?tab=ads">https://www.facebook.com/settings?tab=ads</a>. Facebook is certified under the Privacy Shield Agreement and thus guarantees compliance with European data protection legislation.</p>

          <h3>Other Third-Party Content</h3>

          <p>We use services and content provided by third parties on our website. For this kind of integration, it is technically necessary to process your IP address so that the content can be sent to your browser. Your IP address will, therefore, be transmitted to the respective third-party provider. In each case, this data processing is carried out to safeguard our legitimate interests in the optimization and the commercial operations of our website, the legal basis of which is Art. 6 paragraph 1 sentence 1 letter f GDPR. The JavaScript programming language is regularly used to integrate content. Therefore, you can object to data processing by deactivating JavaScript operations in your browser. We have integrated the following third party contents from Google Ireland Limited into our website:</p>

          <ul>
            <li>“Google Web Fonts” for using Google’s fonts;</li>
            <li>“YouTube” for displaying videos.</li>
          </ul>

          <h2>How to Contact us</h2>

          <p>If you have any questions about Organic for Health’ privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>

          <p>Email: info@organicforhealth.ie</p>

          <h2>Other Policies</h2>

          <p>
            <a class="uk-button uk-button-primary uk-button-small" href="/cookie-policy">Cookies Policy</a> 
            <a class="uk-button uk-button-primary uk-button-small" href="/terms-conditions">Terms &amp; Conditions</a>  
            <a class="uk-button uk-button-primary uk-button-small" href="/refunds-returns-policy">Refunds & Returns Policy</a>
          </p>

        </div>
      
      </article>
      
    </div>

  </div>
</div>

{% endblock  %}