/* base */
html {
  font-size: 13px;
  font-weight: 500;
  color: #333;
}
body, .uk-logo, .uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif!important;
}
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif!important;
  color: #333;
  font-weight: bold;
}
del {
  text-decoration-color: #F44336;
  text-decoration-style: solid;
  font-style: normal;
  font-size: 0.9rem;
}
ins,
mark {
  background: #fff;
  color: #666;
}
/* uikit adjustments */
.uk-nav-default {
  font-size: 1rem;
}
.uk-article-title {
  font-size: 1.9rem;
}
.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
  font-size: 1rem;
}
.uk-card-small.uk-card-body, .uk-card-small .uk-card-body {
  padding: 25px;
}
.uk-button {
  font-weight: 600;
}
.uk-card-default .uk-card-footer {
  border-top: none;
}
.uk-container {
  max-width: 1000px;
}
.uk-container-small {
  max-width: 700px;
}
.uk-form-width-medium {
  width: 250px;
}
.uk-card-badge {
  position: absolute;
  top: 30px;
  right: auto;
  left: 30px;
  z-index: 1;
}


/* sections */
#MainContent{
    min-height: 46vh;
}

/* aditional adjustments */
.is-active a {
    background-color: #299169!important;
    color: #fff!important;
}
.uk-light .uk-nav-default>li.current-menu-item>a, .uk-offcanvas-bar .uk-nav-default>li.current-menu-item>a {
    color: #fff;
}

.about-logo-image {
    padding: 0 0 20px 20px;
    float: right;
}

.uk-slider {
    padding: 20px;
}

.uk-slider .uk-card {
  border: 1px solid transparent;
}

.uk-dotnav>.uk-active>* {
    background-color: hsl(157, 56%, 36%);
}

.uk-slidenav:focus, .uk-slidenav:hover {
    color: #116444;
}

.home-slider.uk-slider {
    padding: 0;
}

.home-slider .uk-position-center {
    top: 50%;
    left: 50%;
    width: 70%;
  }

.home-slider  .uk-overlay-primary {
    background: rgba(41, 145, 105, .8);
}

.home-cats .uk-card-hover:not(.uk-card-default):not(.uk-card-primary):not(.uk-card-secondary):hover {
    background: #f7fbf9;
}

.home-cats a.uk-link-reset {
    color: #299169!important;
    text-decoration: none!important;
}
.cart_item span.woocommerce-Price-amount {
    font-size: 1rem;
}

.slider-image {
   width: 100%;
   object-fit: cover;
}




/* UIKit based resonsive breakpoints */
@media only screen and (max-width:479px) {
  
  .home-slider .uk-position-center {
      top: 50%;
      left: 50%;
      width: 85%;
  }
  
  .slider-section.uk-section-small {
      padding-top: 20px;
  }
  
}

.slider-image {
   height: 470px;
}

@media only screen and (min-device-width:480px) and (max-device-width:767px) {
  

  
}

@media only screen and (min-device-width:768px) and (max-device-width:959px) {
  
  .slider-image {
     height: 370px;
 }

}

@media only screen and (min-device-width:960px) and (max-device-width:1199px) {
  
  .slider-image {
     height: 370px;
 }
  
}

@media only screen and (min-width:1200px) {
  
  .slider-image {
     height: 400px;
 }
  
}




/* header */
#HeaderBottom .uk-navbar-nav>li>a {
    color: #fff;
    font-size: 1.1rem;
    padding: 0 15px;
    text-transform: capitalize;
}

#ProductButtons .uk-button.loading:after {
    font-family: WooCommerce;
    content: "\e01c";
    vertical-align: top;
    font-weight: 400;
    position: absolute;
    margin-left: .53em;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
  
#ProductButtons .uk-button {
  text-transform: capitalize;
}

#ProductButtons .uk-button.loading {
    padding-right: 2.5rem;
}

#ProductButtons .uk-button-default {
    border: 3px double #e5e5e5;
    border-radius: 0px!important;
}

#ProductButtons .uk-button-default:hover {
    border: 3px double #299169;
}

#ProductButtons .uk-button-default:hover {
    color: #299169;
}

#ProductTitle .uk-card-title {
    font-weight: 600;
}

.search-cart input[type="text"], .search-cart input[type="search"] {
    width: 300px;
    padding: 10px 45px 10px 10px;
    font-size: 14px;
}
.uk-logo {
  font-size: 2.4rem;
}
.header-main {
    padding-top: 20px;
    padding-bottom: 20px;
}
.uk-navbar-nav>li>a {
    min-height: 50px;
    font-size: 1rem;
}
.uk-light .uk-navbar-nav>li>a {
    color: hsla(0,0%,100%,.7);
}
.uk-light .uk-navbar-nav>li>a:hover {
    color: hsla(0,0%,100%,.9);
}
.header-cart-count {
    display: inline-block;
    text-align: center;
    background-color: #FFEB3B;
    color: #299169;
    font-weight: 700;
    font-size: 13px;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
    position: absolute;
    top: -2px;
    right: -13px;
}
.cart-icon, .cart-icon:hover {
  color: #fff;
}
/* mobile header */
#HeaderMobile .uk-navbar-item, #HeaderMobile .uk-navbar-nav>li>a, #HeaderMobile .uk-navbar-toggle {
    min-height: 50px;
    padding: 0;
}
#HeaderMobile .header-cart-count {
    display: inline-block;
    text-align: center;
    background-color: #FFEB3B;
    color: #299169;
    font-weight: 700;
    font-size: 13px;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
    position: absolute;
    top: 6px;
    right: 6px;
}


.newsletter-btn {
    width: fit-content;
}
.newsletter-btn.uk-button-small {
    padding: 5px 10px;
    font-size: .875rem;
}
.newsletter-input {
    width: 100vw;
}



.mini-cart-quantity .woocommerce-Price-amount {
    font-size: 1rem;
}

.cart-list-box .cart_list, .total {
    font-size: 13px;
}

.cart-list-box .mini-cart-link a.uk-link-reset, .cart-list-box .total strong {
    font-weight: 700;
    color: #18202e!important;
}

.cart-list-box .remove {
    font-weight: 700;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1;
    color: red!important;
}
.cart-list-box .woocommerce-mini-cart img {
    width: 50px;
    padding: 1px;
    border-radius: 100%;
    border: 1px solid #c5c5c5;
}
.cart-list-box .checkout.uk-button-link {
    line-height: 28px;
    color: #18202e;
}
.cart-list-box .buttons .uk-button {
  font-weight: 700;
} 

.mnm_table .product-quantity {
    text-align: center;
    width: auto;
}
.mnm_table .qty {
    width: 100%;
    text-align: center;
}
.mnm_table .mnm_image {
    min-width: 100px;
    max-width: 100px;
    padding-right: 0;
}

.term-description {
    background-color: #f7fbf9;
    padding: 20px;
    margin-bottom: 20px;
}
.term-description p {
    margin-bottom: 0;
}

.mnm_image img {
    max-width: 70px;
}
.quantity {
    display: inline-block;
}
.quantity input {
    max-width: 50px;
}

/* single product */
.product-accordion-item { 
  padding-bottom:10px
}
.product-accordion>:nth-child(n+2) {
    margin-top: 10px;
}
.product-accordion {
  padding-top: 10px;
}
.woocommerce-ordering .uk-select:not([multiple]):not([size]) {
  height: 30px;
}
/* archive page tease product prices styling */
.grid-item ins>span.woocommerce-Price-amount, .grid-item span.woocommerce-Price-amount, span.woocommerce-Price-amount, .price .amount {
  background-color: #fff;
  font-size: 1.5rem;
  color: #299169;
}
.grid-item del>span.woocommerce-Price-amount {
  font-size: 1rem;
}
.list-item span.woocommerce-Price-amount, .list-item ins>span.woocommerce-Price-amount {
    background-color: #fff;
    font-size: 1.6rem;
    color: #299169;
}
.list-item del>span.woocommerce-Price-amount {
    font-size: 1.4rem;
}
/* archive product title */
#ProductTitle .uk-card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
/* archive product add to cart button */

/* view cart button, hide it */
a.added_to_cart.wc-forward {
  display: none;
}
/* tease product list img modifier */
.list-img {
  height: 100% !important;
  width: 100%;
  object-fit: cover;
}
/* uk-table stuff applying to tables on cart & popup min cart templates */
.uk-table td.product-thumbnail, .uk-table td.cart-image-wrap  {
    min-width: 50px;
}
.uk-table td.remove-button-wrap, .uk-table td.product-remove  {
    min-width: 20px;
}
#modal-overflow .uk-table-small td, #modal-overflow .uk-table-small th {
    padding: 5px 6px;
}
@media only screen and (max-device-width:767px) {
  /* single product image for mobile */
  .woocommerce-page div.product div.images, .woocommerce div.product div.images {
      width: 100%;
  }
  
}
/* woo single variations add to cart */
.woocommerce-variation-add-to-cart {
  margin-top: 20px;
}
/* ? some price */
.price {
  font-size: 1.2rem;
  font-weight: 700;
}
.woocommerce-mini-cart__total {
  font-size: 1.2rem;
}

.reset_variations {
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
}




/* theme borders */
.theme-border {
   border: $theme_border
}
.theme-border-top {
   border-top: $theme_border
}
.theme-border-bottom {
   border-bottom: $theme_border
}
.theme-border-left {
   border-left: $theme_border
}
.theme-border-right {
   border-right: $theme_border
}
.theme-border-solid {
   border: $theme_solid_border
}
.theme-border-solid-top {
   border-top: $theme_solid_border
}
.theme-border-solid-bottom {
   border-bottom: $theme_solid_border
}
.theme-border-solid-left {
   border-left: $theme_solid_border
}
.theme-border-solid-right {
   border-right: $theme_solid_border
}
/* utility classes */
.padding-10 {
  padding: 10px;
}
.padding-15 {
  padding: 15px;
}
.padding-left-40 {
  padding-left: 40px;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-10-20-0-20 {
  padding:10px 20px 0px 20px;
}
.height-content {
  min-height: fit-content!important;
}
.pull-right-30 {
  margin-right: -30px;
}
.pull-right-15 {
  margin-right: -15px;
}
.pull-right-10 {
  margin-right: -10px;
}
.pull-left-15 {
  margin-left: -15px;
}
.pull-left-10 {
  margin-left: -10px;
}
.push-left-7 {
  margin-left: 7px;
}
.darker-bg-primary {
  background-color: #20865f;
}
.padding-20 {
  padding: 20px;
}
.padding-20-0 {
  padding: 20px 0;
}
.padding-remove-bottom {
  padding-bottom: 0;
}
.padding-remove-top {
  padding-top: 0;
}
.padding-0-10 {
  padding: 0 10px;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}
.padding-0-0-0-20 {
  padding: 0 0 0 20px;
}
.dark-bg-black {
  background: #1f7b58;
}
.font-1-5 {
  font-size:1.5rem!important;
}
.font-2 {
  font-size:2rem;
}
.min-height-40 {
  min-height: 40px;
}
.width-49 {
  width: 49%;
}
.margin-left-2 {
  margin-left: 2%;
}





/* scroll loader */
.preloader {
  align-items: center;
  pointer-events: none;
  background: rgb(255, 255, 255);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.5s linear;
  width: 100%;
  z-index: 9999;
}
.page-load-status {
  display: none;
  /* hidden by default */
  padding-top: 20px;
  text-align: center;
  color: #777;
}
.loader-ellips {
  font-size: 20px;
  /* change size here */
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}
.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: #299169;
  /* change color here */
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) {
  left: 1.5em;
}
.loader-ellips__dot:nth-child(4) {
  left: 3em;
}
@keyframes reveal {
  from {
    transform: scale(0.001);
  }

  to {
    transform: scale(1);
  }
}
@keyframes slide {
  to {
    transform: translateX(1.5em)
  }
}
.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}
.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}
.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}