/* homepage */
.home-cats a.uk-link-reset {
    color: $global-link-color !important;
    text-decoration: none !important;
}
.home-cats .uk-card-hover:not(.uk-card-default):not(.uk-card-primary):not(.uk-card-secondary):hover {
    background: $global-muted-background;
}
.home-slider.uk-slider {
    padding: 0;
}
.home-slider .uk-overlay-primary {
    background: rgba(41, 145, 105, .8);
}
.home-slider .uk-position-center {
    top: 50%;
    left: 50%;
    width: 70%;
}
.home-slider .slider-image {
   width: 100%;
   object-fit: cover;
   height: 470px;
}

/* about page */
.about-logo-image {
    padding: 0 0 20px 20px;
    float: right;
}