/* woo */

.is-active a {
    background-color: #299169!important;
    color: #fff!important;
}
.list-img {
    height: 100% !important;
    width: 100%;
    object-fit: cover;
}
.product-accordion-item { 
  padding-bottom:10px
}
.product-accordion>:nth-child(n+2) {
    margin-top: 10px;
}
.product-accordion {
    padding-top: 10px;
}
.quantity {
    display: inline-block;
}
.quantity input {
    max-width: 50px;
}
.reset_variations {
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
}
.woocommerce-variation-add-to-cart {
    margin-top: 20px;
}

// woo archives
.term-description {
    background-color: #f7fbf9;
    padding: 20px;
    margin-bottom: 20px;
}
.term-description p {
    margin-bottom: 0;
}
.woocommerce-ordering .uk-select:not([multiple]):not([size]) {
    height: 30px;
}

// woo mini-cart
.cart-list-box .checkout.uk-button-link {
    line-height: 28px;
    color: #18202e;
}
.cart-list-box .buttons .uk-button {
  font-weight: 700;
} 
.cart-list-box .cart_list, .total {
    font-size: 13px;
}
.cart-list-box .mini-cart-link a.uk-link-reset, .cart-list-box .total strong {
    font-weight: 700;
    color: #18202e!important;
}
.cart-list-box .remove {
    font-weight: 700;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1;
    color: red!important;
}
.cart-list-box .woocommerce-mini-cart img {
    width: 50px;
    padding: 1px;
    border-radius: 100%;
    border: 1px solid #c5c5c5;
}
.cart_item span.woocommerce-Price-amount {
    font-size: 1rem;
}
.mini-cart-quantity .woocommerce-Price-amount {
    font-size: 1rem;
}
.woocommerce-mini-cart__total {
    font-size: 1.2rem;
}
.uk-table td.product-thumbnail, .uk-table td.cart-image-wrap  {
    min-width: 50px;
}
.uk-table td.remove-button-wrap, .uk-table td.product-remove  {
    min-width: 20px;
}

// woo mix & match
.mnm_table .product-quantity {
    text-align: center;
    width: auto;
}
.mnm_table .qty {
    width: 100%;
    text-align: center;
}
.mnm_table .mnm_image {
    min-width: 100px;
    max-width: 100px;
    padding-right: 0;
}
.mnm_image img {
    max-width: 70px;
}

// woo prices
.grid-item ins>span.woocommerce-Price-amount, .grid-item span.woocommerce-Price-amount, span.woocommerce-Price-amount, .price .amount {
    background-color: #fff;
    font-size: 1.5rem;
    color: #299169;
}
.grid-item del>span.woocommerce-Price-amount {
    font-size: 1rem;
}
.list-item span.woocommerce-Price-amount, .list-item ins>span.woocommerce-Price-amount {
    background-color: #fff;
    font-size: 1.6rem;
    color: #299169;
}
.list-item del>span.woocommerce-Price-amount {
    font-size: 1.4rem;
}
.price {
    font-size: 1.2rem;
    font-weight: 700;
}

// woo tease product
a.added_to_cart.wc-forward {
    display: none;
}
.tease-product-title .uk-card-title {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 10px;
}
.tease-product-buttons .uk-button.loading:after {
    font-family: WooCommerce;
    content: "\e01c";
    vertical-align: top;
    font-weight: 400;
    position: absolute;
    margin-left: .53em;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.tease-product-buttons .uk-button {
  text-transform: capitalize;
}
.tease-product-buttons .uk-button.loading {
    padding-right: 2.5rem;
}
.tease-product-buttons .uk-button-default {
    border: 3px double #e5e5e5;
    border-radius: 0px!important;
}
.tease-product-buttons .uk-button-default:hover {
    border: 3px double #299169;
}
.tease-product-buttons .uk-button-default:hover {
    color: #299169;
}
.grid-item .uk-card {
    box-shadow: 0px 0px 2px 1px #b3b3b31f;
}