{% extends 'base.twig' %}
{% block content %}

<div data-template="about.twig">
  
  {% include 'breads.twig' %}
    
  <div class="uk-section uk-section-small">
    
    <div class="uk-container uk-container-small">
      
      <article id="page-about" class=" uk-article">
        
        <h1 class="uk-article-title page-title uk-text-uppercase uk-margin-medium-bottom">FAQs</h1>

        <div class="the-content uk-margin-bottom">
          
          <p><img src="//cdn.shopify.com/s/files/1/0543/1637/files/KDV09802edit2_large_109dca71-0eab-4b40-af46-b2bba9f5feea_large.jpg?v=1508946196" alt=""></p>
          <p>Professionals, enthusiasts, and newcomers alike are welcome to experience our products first-hand, and our warm, knowledgeable and professional staff is here to provide expert information and friendly service and to ensure the ultimate in customer satisfaction.</p>
          <p>Our gallery showcases a rotating exhibit of images, enabling customers to get an up-close look at how Leica has become a witness to history and a tool in creating the finest photographic art. In addition, we host several in-house demos and workshops for professionals and enthusiasts seeking to discover or enhance their photographic skills.</p>
          <p>We are truly thrilled for the opportunity to share our passion for photography with the community.</p>

        </div>
      
      </article>
      
    </div>

  </div>
</div>

{% endblock  %}