{% extends 'base.twig' %}

{% block spec_styles %}
  <link rel="stylesheet" href="{{theme.link|e('esc_url')}}/assets/css/shop.css" />
{% endblock %}

{% block pageheader %}
  {% include 'shop-header.twig' %}
{% endblock %}

{% block content_inner %}

  <div id="ShopContainer" class="uk-position-relative" data-template="shop.twig">
      
    <div class="uk-container uk-section uk-section-small content-container">

      {% do action('woocommerce_before_main_content') %}
      
      {% do action('woocommerce_archive_description') %}

      <div id="MainProductArchive" uk-grid>
        
        <div class="uk-width-1-4@m uk-visible@m">
          {% include 'shop-filters.twig' %}
        </div>

    		<div class="uk-width-3-4@m">
          {% include 'shop-toolbar.twig' %}
    			<div 
          id="ProductGrid" 
          class="archive-posts products uk-child-width-1-2 uk-child-width-1-{{products_grid_columns|e('html_attr')}}@m uk-grid-small uk-margin-medium-bottom" 
          uk-grid="masonry: true"
          >
    		    {% for post in products %}
    		      {% include tease_template %}
    		    {% endfor %}
    		    {% if products is empty %}
    		      {% do action('woocommerce_no_products_found') %}
    		    {% endif %}
    			</div>
    			{% include 'pagination.twig' with { pagination : products.pagination( { show_all: true, mid_size: 3, end_size: 2 } ) } %}
    		</div>

      </div>

      {% do action('woocommerce_after_shop_loop') %}

      {% do action('woocommerce_after_main_content') %}
      
    </div>
    
  </div>

{% endblock  %}

{% block spec_scripts %}
  <script src="{{theme.link|e('esc_url')}}/assets/js/woo/shop.js"></script>
{% endblock %}