{% extends 'base.twig' %}

{% block spec_styles %}
<style>
  div#ajax-filters-wrap {
    position: relative;
  }
  .loader-style:before {
    height: 1em;
    width: 1em;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    -webkit-animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
    background: url(/wp-content/themes/organicwp-theme/assets/images/loader.svg) 50%;
    background-size: cover;
    line-height: 1;
    text-align: center;
    font-size: 2em;
    color: #000;
  }
  /* .filter-offcanvas.uk-offcanvas-bar {
      background: #ffffff;
  }
  .filter-offcanvas .uk-nav-default>li.uk-active>a {
      color: #222;
  }
  .filter-offcanvas .uk-nav-default>li>a {
      color: #999;
  }
  .filter-offcanvas .uk-nav-default .uk-nav-sub a {
      color: #999;
  }
  .filter-offcanvas .uk-nav-default .uk-nav-header {
      color: #222;
  }
  .filter-offcanvas .uk-nav-default .uk-nav-divider {
      border-top: 1px solid #e5e5e5;
  }
  .filter-offcanvas .uk-nav-default>li>a:focus,
  .filter-offcanvas .uk-nav-default>li>a:hover,
  .filter-offcanvas .uk-nav-default .uk-nav-sub a:hover,
  .filter-offcanvas .uk-nav-default .uk-nav-sub a:focus,
  .filter-offcanvas .uk-close:focus,
  .filter-offcanvas .uk-close:hover {
      color: #666;
  }
  .filter-offcanvas .uk-close {
      color: #5c5c5c;
  }
  .filter-offcanvas  .uk-offcanvas-close {
      padding: 10px;
      background-color: #f9f9f9;
  } */
  .filter-offcanvas.uk-offcanvas-bar {
      background: #353535;
  }
</style>
{% endblock %}

{% block content %}

<div class="uk-container" data-template="woo-archive.twig">
  
  {% include 'breads.twig' %}

  {% do action('woocommerce_before_main_content') %}

  {% include 'shop-toolbar.twig' %}

  {% do action('woocommerce_archive_description') %}

  <div id="ajax-filters-wrap">
    {% include 'product-archive.twig' %}
  </div>

  {% do action('woocommerce_after_shop_loop') %}

  {% do action('woocommerce_after_main_content') %}
  
</div>

{% include 'shop-filters-menu.twig' %}

{% endblock  %}

{% block spec_scripts %}

<!-- ajax products filters -->
<script>
  jQuery(function($) {
    $('#cat_selector').change(function(){
      
      var activegrid = document.querySelector('#MainProductArchive');
      var grid_style = window.getComputedStyle(activegrid);
      var grid_height = grid_style.height
      // console.log(grid_style);
      
      var cat_slug = $('#cat_selector input[type=radio]:checked').map(function(){
        return this.value;
      }).get();
      
      var results = $('#ajax-filters-wrap');
      
      var str1 = "https://organicforhealth.ie/shop/?product_cat=";
      var str2 = cat_slug;
      var new_url = str1.concat(str2);

      loader = '<div id="ajax_loader" class="loader-style uk-margin-bottom" style="height: 300px;"></div>';
      
      if(cat_slug != '') {
        $.ajax({
          type: 'post',
          url: myAjax.ajaxurl,
          data: {
            action: 'render_more_products',
            cat_slug: cat_slug
          },
          beforeSend: function () {
            results.html(loader);
          },
          success:function(response) {
            window.history.pushState("Details", "Title", new_url);
            UIkit.offcanvas('#FiltersMenu').hide();
            results.html(response);
          },
          error: function() {
            alert('An error occurred... Look at the console (F12 or Ctrl+Shift+I, Console tab) for more information!');
          },
        });
      } else {
        // do something
      }

    });
  });
</script>

{% endblock %}