{% extends 'base.twig' %}

{% block content %}

<style>
  .filter-offcanvas.uk-offcanvas-bar {
      background: #ffffff;
  }
  .filter-offcanvas .uk-nav-default>li.uk-active>a {
      color: #222;
  }
  .filter-offcanvas .uk-nav-default>li>a {
      color: #999;
  }
  .filter-offcanvas .uk-nav-default .uk-nav-sub a {
      color: #999;
  }
  .filter-offcanvas .uk-nav-default .uk-nav-header {
      color: #222;
  }
  .filter-offcanvas .uk-nav-default .uk-nav-divider {
      border-top: 1px solid #e5e5e5;
  }
  .filter-offcanvas .uk-nav-default>li>a:focus,
  .filter-offcanvas .uk-nav-default>li>a:hover,
  .filter-offcanvas .uk-nav-default .uk-nav-sub a:hover,
  .filter-offcanvas .uk-nav-default .uk-nav-sub a:focus,
  .filter-offcanvas .uk-close:focus,
  .filter-offcanvas .uk-close:hover {
      color: #666;
  }
  .filter-offcanvas .uk-close {
      color: #5c5c5c;
  }
  .filter-offcanvas  .uk-offcanvas-close {
      padding: 10px;
      background-color: #f9f9f9;
  }
</style>

{% include 'breads.twig' %}

{% include 'site-notice.twig' %}

<div class="uk-container">

  {% do action('woocommerce_before_main_content') %}

  {% include 'shop-toolbar.twig' %}

  {% do action('woocommerce_archive_description') %}
  
  {% include 'product-archive.twig' %}

  {% do action('woocommerce_after_shop_loop') %}
  
  {% include 'pagination.twig' with { pagination: posts.pagination({show_all: true, mid_size: 3, end_size: 2}) } %}

  {% do action('woocommerce_after_main_content') %}

</div>

{% include 'shop-filters-menu.twig' %}

{% endblock  %}