{% if is_cart or is_checkout  %}
<div class="uk-navbar-item height-content pull-right-15">
    <a class="cart-icon uk-margin-left uk-light" href="/basket" aria-expanded="false"><i class="fas fa-shopping-cart fa-2x"></i></a>
    {% do action('cart_ajax_result_count') %}
</div>
{% else %}
<div class="uk-navbar-item height-content pull-right-15">
    <a class="cart-icon uk-margin-left uk-light" aria-expanded="false" href="#modal-overflow" uk-toggle><i class="fas fa-shopping-cart fa-2x"></i></a>
    {% do action('cart_ajax_result_count') %}
</div>
<div id="CartNavDropdown" class="uk-padding-remove" uk-dropdown>
    <div class="widget_shopping_cart_content">{% do action('custom_mini_cart') %}</div>
</div>
{% endif %}