<div class="logo-left uk-width-1-2 uk-inline uk-light">
    <a class="uk-logo uk-text-bold uk-text-emphasis uk-position-center-left padding-left-40" title="{{ site.title }}" href="{{ site.url }}"><img data-src="/wp-content/themes/organicwp-theme/assets/images/organicforhealth-logo.png" uk-img=""> <span class="logo-title-text">{{ site.title }}</span></a>
</div>