<div class="account-links uk-text-right uk-margin-small-bottom uk-light">
    {% if not user %}
    <a href="/my-account">Login / Register</a>
    {% else %}
    <a href="/my-account">My Account</a>
    {% endif %}
</div>